* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: rgb(188, 189, 145);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.nav-links {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-bottom: 0px;
  width: 100%;
  justify-content: flex-end;
}
.nav-links a {
  color: #fff;
  width: 100%;
  display: inline-block;
}
/* LOGO */
.logo {
  font-size: 32px;
  color: white;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  font-size: 18px;
}

@media (max-width: 580px) {
  .navbar {
    position: absolute;
    flex-direction: column;
  }
  #content {
    margin-top: 230px;
  }
  .menu {
    flex-direction: column;
  }
  .menu li {
    width: 100%;
  }
}
.menu li:hover {
  /* background-color: #4c9e9e; */
  background: rgb(49, 49, 43);
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 5px;
}

section {
  background: rgb(188, 189, 145);
  padding-top: 100px;
}
#contact {
  padding-bottom: 50px;
}

.flex-container {
  display: flex;
  align-items: center;
  background: rgb(157, 159, 100);
  background: rgb(212, 212, 186);
  padding-bottom: 20px;
  padding-top: 20px;
}

#projects .flex-container {
  flex-direction: column;
}

.flex-item {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 580px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    margin-bottom: 20px;
  }
}
#portrait {
  border-radius: 10%;
}
.project-content {
  width: 75%;
}
.project-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#projects .flex-item {
  margin-bottom: 30px;
}

.bg-light {
  background: rgb(157, 159, 100) !important;
  background: rgb(212, 212, 186) !important;
}
